.timeline-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 0;
  width: 4px;
  height: 100%;
  background: #e72a19;
}

.timeline-dot {
  width: 40px;
  height: 40px;
  background: white;
  background: linear-gradient(white, white) padding-box, #e72a19 border-box;
  border: 4px solid transparent;
  border-radius: 50%;
  position: relative;
  left: -2px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  padding: 4px;
  align-items: center;
}
.timeline-dot img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
  border: "1px solid red";
}

.timeline-content {
  padding: 15px;
  border-radius: 8px;
  width: 100%;
}

.timeline-date {
  font-size: 14px;
  color: #acaaff;
  font-weight: bold;
}

.timeline-position {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
}

.timeline-company {
  font-size: 16px;
  font-weight: bold;
  color: #1bffc2;
}

.timeline-content ul {
  padding-left: 20px;
}

.timeline-content li {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.5;
}

/* prism animations  */
.pyramid-loader {
  position: relative;
  width: 400px;
  height: 400px;
  display: block;
  transform-style: preserve-3d;
  transform: rotateX(-20deg);
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: spin 8s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotateY(360deg);
  }
}

.pyramid-loader .wrapper .side {
  width: 150px;
  height: 150px;
  /* you can choose any gradient or color you want */
  /* background: radial-gradient( #2F2585 10%, #F028FD 70%, #2BDEAC 120%); */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform-origin: center top;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.pyramid-loader .wrapper .side1 {
  transform: rotateZ(-30deg) rotateY(90deg);
  background: conic-gradient(#2bdeac, #f028fd, #d8cce6, #2f2585);
}

.pyramid-loader .wrapper .side2 {
  transform: rotateZ(30deg) rotateY(90deg);
  background: conic-gradient(#2f2585, #d8cce6, #f028fd, #2bdeac);
}

.pyramid-loader .wrapper .side3 {
  transform: rotateX(30deg);
  background: conic-gradient(#2f2585, #d8cce6, #f028fd, #2bdeac);
}

.pyramid-loader .wrapper .side4 {
  transform: rotateX(-30deg);
  background: conic-gradient(#2bdeac, #f028fd, #d8cce6, #2f2585);
}

.pyramid-loader .wrapper .shadow {
  width: 150px;
  height: 150px;
  background: #8b5ad5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -75px;
  margin: auto;
  transform: rotateX(90deg) translateZ(-40px);
  filter: blur(12px);
}
